<ion-header>
    <ion-navbar>
        <ion-title>
            El juego de la vida
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <button ion-button icon-start opcion="3" (click)="iniciar()" style="background-color: gray;">
                    Iniciar
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <!--<form (ngSubmit)="iniciar">
        <ion-item>
            <ion-label>
                Tiempo (Segundos)
            </ion-label>
    </form>
    <ion-grid>
        <ion-row>
            <!--<ion-col>
                Tiempo /Segundos
                <input type="number" value="30" (change)="valorTiempo(1)">
            </ion-col>
            <ion-col>
                Velocidad
                <input type="number" value="30" (change)="valorTiempo(1)">
                </button>
            </ion-col>
            

    </ion-row>
    </ion-grid>-->
    <ion-content class="cont-pos">
        <ion-grid>
            <ion-row *ngFor="let item of numero_filas">
                <ion-col *ngFor="let item2 of numero_colum">
                    <button ion-button icon-start class="btn-posicion" (click)="colocarVida(item+'-'+item2)" color="{{colorPosicion[item][item2]}}">
                    </button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-content>